boto3==1.12.18
botocore==1.15.18
docutils==0.15.2
jmespath==0.9.5
python-dateutil==2.8.1
python-interface==1.5.3
s3transfer==0.3.3
six==1.14.0
toml==0.10.0
tqdm==4.43.0
urllib3==1.25.8
zope.event==4.4
zope.interface==4.7.2
zope.schema==5.0.1
